.Home {
  > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
img {
  width: 50%;
}
.marker {
  background-image: url("../../img/marker.png");

  background-size: cover;
  width: 20px;
  height: 30px;
}
.marker2 {
  background-image: url("../../img/marker2.png");

  background-size: cover;
  width: 20px;
  height: 30px;
}

.marker:focus {
  outline: 2px solid blue;
}

.popUp {
  display: flex;
  display: none;
  margin-top: -50%;
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 3;
  padding: 10px;
  position: absolute;
  z-index: 3;
  background-color: white;
  border-radius: 10px;
  margin-left: 8%;
  font-size: 1rem;
}

.mapboxgl-marker {
}

.mapboxgl-marker:focus {
  background-color: red;
}

.resultsSearch {
 display: none;
  z-index: 4;
  font-size: 1rem;
  /* margin-top: 100px; */
  padding-top: 100px;
  margin-top: 100px;
  position: absolute;
  background: white;
  width: 80%;
  margin-left: 5%;
  padding: 5%;
  margin-right: 5%;
}

#map {
  background-color: red;
}

 
.overlays {
  margin-top: 0px;
  position: absolute;
  z-index: 2;
}
.search {
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  z-index: 3;
  background-color: white;
  margin-top: 15px;

  height: 50px;

  border-radius: 20px;
  padding-top: 10px;
  margin-bottom: 100px;
}
.search > form > input {
  margin-left: 10%;
  width: 70%;
  padding-top: 10px;
  border: 0px;
}
.search > form > img {
  padding-right: 5px;
  padding-top: 8px;
  width: 6%;
}
