.Footer {
  
padding-left: 2%;
 display: flex;
 flex-direction: row;
 
  width: 100%;
  color: red;
 
 padding-top: 10px;
 padding-bottom: 5px;
  bottom: 0px;
  margin-bottom: 0px;
  position: fixed;
  background-color: white;

  z-index: 4;
  
}
 
$viewport-phone: 300px;
$viewport-tablet: 564px;
$viewport-desktop: 960px;

Footer{
color: white;

}
img{
 width: 70%;
}

img:hover{

  border-top: 5px solid #0D5093 ;
}