.Footer {
  
 
 
 
  width: 100%;
  color: red;
 
 padding-top: 10px;
 padding-bottom: 5px;
  bottom: 0px;
  margin-bottom: 0px;
  position: sticky;
  
}
 
$viewport-phone: 300px;
$viewport-tablet: 564px;
$viewport-desktop: 960px;

Footer{
color: white;

}
img{

 margin-right: 5%;
 margin-left: 3%;
  width: 16%;
}

img:hover{

  border-top: 5px solid #0D5093 ;
}